<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>차트 리스트</title>-->
<!--</head>-->
<!--<script th:inline="javascript">-->
<!--    const List = [[${list}]];-->
<!--    console.log(List)-->
<!--</script>-->
<!--<body>-->
<!--    <div class="layout">-->
<!--        <table>-->
<!--            <thead>-->
<!--                <tr>-->
<!--                    <th>hostname</th>-->
<!--                    <th>datetime</th>-->
<!--                    <th>resource_type</th>-->
<!--                    <th>metric_type</th>-->
<!--                    <th>value</th>-->
<!--                    <th>unit</th>-->
<!--                </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--                <tr th:each="chart : ${list}">-->
<!--                    <td th:text="${chart.hostname}">hostname</td>-->
<!--                    <td th:text="${chart.datetime}">datetime</td>-->
<!--                    <td th:text="${chart.resource_type}">resource_type</td>-->
<!--                    <td th:text="${chart.metric_type}">metric_type</td>-->
<!--                    <td th:text="${chart.value}">value</td>-->
<!--                    <td th:text="${chart.unit}">unit</td>-->
<!--                </tr>-->
<!--            </tbody>-->
<!--        </table>-->

<!--    </div>-->
<!--</body>-->
<!--</html>-->